/* Import Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Oswald);
body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Oswald', sans-serif;
}
/* header */
header h1 {
    padding: 20px;
    margin: 0;
    text-align: right;
    background-color: #9932CC;
    color: #FFF;
}
header nav {
    padding: 20px;
    float: left;
    font-weight: normal;
    font-size: 1.5em;
    margin-right: 15px;
}
header nav a, header nav a:visited {
    text-decoration: none;
    color: #D8BFD8;
}
header nav a, header nav span {
    margin-right: 10px;
}
/* jQuery nav plugin */
div#wordlist-nav {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}
.ln-letters { 
    overflow: hidden;
}
.ln-letters a, .ln-letters a:visited {
    font-size: 0.9em;
    display: block; 
    float: left; 
    padding: 4px 8px;
    border: 1px solid #C6F; 
    border-top: none;
    border-right: none; 
    text-decoration: none;
    color: #9400D3;
}
.ln-letters a:last-of-type {
    border: 1px solid #C6F; 
    border-top: none;
}
.ln-letters a:hover, .ln-letters a.ln-selected { 
    background-color: #EAEAEA; 
}
.ln-letters a.ln-disabled { 
    color: #CCC; 
}
.ln-letter-count { 
    text-align: center; 
    font-size: 0.8em; 
    line-height: 1; 
    margin-top: 125px; 
    color: #4B0082;
}
/* section */
section {
    margin: 0px 30px 0px 30px;
    padding: 10px;
    border: 1px dotted #D8BFD8;
    font-family: Arial, Helvitica, sans-serif;
}
/* word definition */
h1#word {
    margin-left: 30px;
    color: #4B0082;
}
div#definition {
    display: table;
    width: 100%;
}
div#definition dl {
    display: table-cell;
    float: left;
    vertical-align: top;
}
div#definition dt {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 5px;
    color: #4B0082;
}
div#definition dt:first-child {
    margin-top: -10px;
}
div#definition dd {
    margin-left: 20px;
    color: #555;
}
div#definition figure {
    display: table-cell;
    width: 200px;
    vertical-align: top;
}
div#definition figure img {
    width: 200px;
    border: 0;
    margin-left: 30px;
    margin-right: 5px;
}
div#definition figcaption {
    text-align: center;
    font-size: small;
    color: #777;
}
/* word list */
ul#wordlist {
    display: table;
    width: 100%;
}
ul#wordlist li {
    list-style-type: none;
    display: inline-block;
    width: 23%;
    margin-top: 7px;
    margin-right: 10px;
}
ul#wordlist li:nth-of-type(4n):after {
    content: "\A";
    white-space: pre;
}
ul#wordlist a, ul#wordlist a:visited {
    color: #4B0082;
    text-decoration: none;
}
/* footer */
footer {
    text-align: center;
    margin-top: 10px;
    padding-top: 8px;
    font-size: 0.7em;
}
footer a#button, footer a#button:visited {
    float: left;
    margin-left: 20px;
    padding: 2px 5px 2px 5px;
    background-color: #DDD;
    border: 1px solid #4B0082;
    border-radius: 10px;
    color: #4B0082;
    text-decoration: none;
    font-size: 0.9em;
}
footer a, footer a:visited {
    text-decoration: none;
    color: #D8BFD8;
    margin-right: 5px;
}
footer span {
    margin-right: 10px;
    color: #60A;
    font-size: 0.9em;
}
a.ponybadge {
    float: right;
    width: 8em;
}

