/* style for jQuery nav plugin */
.ln-letters { 
    overflow:hidden;
}
.ln-letters a {
    font-size: 0.9em;
    display: block; 
    float: left; 
    padding: 4px 8px;
    border: 2px solid silver; 
    border-right: none; 
    text-decoration: none;
}
.ln-letters a:hover,
.ln-letters a.ln-selected 
{ 
    background-color: #eaeaea; 
}
.ln-letters a.ln-disabled { 
    color: #ccc; 
}
.ln-letter-count { 
    text-align: center; 
    font-size: 0.8em; 
    line-height: 1; 
    margin-top: 90px; 
    color: #336699; 
}
