{% extends "base.html" %}

{% block title %}{{object.last_name}}, {{object.first_name}} - {{preferences.name}}{%endblock %}

{% block heading %}<h1 id="user">{{object.last_name}}, {{object.first_name}}</h1>{% endblock %}

{% block content %}

<h2>Words created</h2>
<table id="userentries">
    <tr>
        <th>Entry Name</th>
        <th>Date Created</th>
    <tr>
{% for word_entry in user_word_entries %}
    <tr>
        <td><a href="/words/{{word_entry.id}}">{{word_entry}}</a></td>
        <td>{{word_entry.date_created}}</td>
    </tr>
{% endfor %}
</table>
    

{% endblock %}
