{% extends "base.html" %}

{% block heading %}<h1 id="word">{{object.name}} <span>({{object.part}})</span></h1>{% endblock %}
{% block content %}
<div id="definition">
<dl>
  <dt>Definition:</dt>
  <dd>{{object.definition}}</dd>

  {% if object.translations %}
  <dt>Translation(s):</dt>
  <dd>{{object.translations}}</dd>
  {% endif %}

  {% if object.synonyms %}
  <dt>Synonym(s):</dt>
  <dd>{{object.synonyms}}</dd>
  {% endif %}

  {% if object.example_sentence %}
  <dt>Example Sentence(s):</dt>
  <dd>{{object.example_sentence}}</dd>
  {% endif %}

</dl>
{% if object.photo %}
<figure>
<a href="{{ object.photo.url }}"><img src="{{ object.photo.thumbnail.url }}" alt="{{object.caption}}"></a>
{% if object.caption %}<figcaption>{{object.caption}}</figcaption>{% endif %}
</figure>
{% endif %}
</div>
{% endblock %}

{% block footer %}
{% if user.is_authenticated %}<a id="button" href="/update_entry/{{object.id}}">Edit this entry</a>{% endif %}
{% if perms.wordviewer.delete_entry %}<a id="button" href="/delete_entry/{{object.id}}">Delete this entry</a>{% endif %}
<span>Created by {{object.user_creator.get_full_name}} on {{object.date_created}}</span>
<span>Last Modified by {{object.user_last_modified.get_full_name}} on {{object.date_modified}}</span><br>
{% endblock %}
