{% extends "base.html" %}
{% block content %}
<h1>{{dictionary}}</h1>
<form action="/create_entry/" enctype="multipart/form-data" method="post">{% csrf_token %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    {% for field in form.visible_fields %}
        <div class="fieldWrapper">
            {{ field.label_tag }} {{ field }}
            {% if field.errors %}
            <div class="alert alert-error">
              <strong>{% for error in field.errors %}{{ error }}{% endfor %}</strong>
            </div>
          {% endif %}
        </div>
    {% endfor %}
    <p><input type="submit" value="Add word" /></p>
</form>

{% endblock %}
