{% extends "base.html" %}

{% block scripts %}
<script  type="text/javascript" src="/static/js/jquery.listnav.min-2.1.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $("#wordlist").listnav({includeNums:false});
});
</script>
{% endblock %}

{% block letter-nav %}<div id="wordlist-nav"></div>{% endblock %}

{% block content %}
<ul id="wordlist">
{% for item in object_list %}  <li><a href="/words/{{item.id}}/">{{item}}</a></li>
{% endfor %}</ul>
{% endblock %}

{% block footer %}{% if user.is_authenticated %}<a id="button" href="/create_entry/">Add a word...</a>{% endif %}{% endblock %}
