{% extends "base.html" %}

{% block title %}{{object.name}} ({{object.part}}) - {{preferences.name}}{% endblock %}

{% block heading %}<h1 id="word">{{object.name}} <span>({{object.part}})</span></h1>{% endblock %}

{% block content %}
<form action="" enctype="multipart/form-data" method="post">{% csrf_token %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    {% for field in form.visible_fields %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    </div>
    {% endfor %}
    <p><input type="submit" value="Update word" /></p>
</form>
{% endblock %}
