<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{% block title %}Our Dictionary{% endblock %}</title>
<style type="text/css">
@import url(/static/styles/style.css);
</style>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
</script>{% block scripts %}{% endblock %}</head>

<body>
<header>
<nav><a href="/words/">Home</a> {% block topbar %}{% if user.is_authenticated %}<a href="/logout/">Logout</a><span>{{user.username}}</span>{% else %}<a href="/login/">Login</a>{% endif %}{% endblock %}</nav> <h1>Our Dictionary</h1>
{% block letter-nav %}{% endblock %}
</header>
{% block heading %}{% endblock %}
<section>{% block content %}{% endblock %}</section>

<footer>
{% block footer %}{% endblock %}
<a href="http://validator.w3.org/check/referer">
<strong> HTML </strong> Valid! </a> 
<a href="http://jigsaw.w3.org/css-validator/check/referer?profile=css3">
<strong> CSS </strong> Valid! </a>
</footer>

<img class="logo" src="/static/images/ponypowered.png" alt="pony powered"></a>
 
</body>
</html>
